.gridWrap{
    .Map {
        height: calc(100vh - 50px);
        z-index: 1000;
        width: 100%;
      }
      .amap-info-close{
        display: none!important;
    } 
}
.gridDetailModal{
    width: 1000px !important;
    .manager{
        display: flex;
        .managerDetail{
            flex:1;
            margin: 0px 20px;
            line-height: 25px;
        }
    }
}